@use '../style/base'
@use '../style/fonts'

.header
    @extend %fixed-banner
    background: rgba(base.$gray-050,0.5)
    backdrop-filter: blur(base.$unit-4x) grayscale(50%)
    padding: base.$unit-1x base.$unit-3x
    border-bottom: 1px base.$gray-900 solid

    &__nav
        @extend %fxrow
        height: base.$unit-5x
        gap: base.$unit-1x
        align-items: center
        justify-content: space-between

        &__menu-button
            @extend %standard-button
            font-size: base.$unit-2x
            color: base.$gray-900
            margin-left: auto

            font: fonts.$text-body-3
            font-family: fonts.$serif-family

    &-context
        margin-bottom: base.$unit-1x
        &__title
            font-family: fonts.$sans-serif-family
            font-weight: 600
            line-height: 100%

        &__tags-container
            @extend %fxcol
            gap: base.$unit-05x

            &>*
               /*  border-top: 1px solid base.$gray-900 */
            &--hidden
                display: none
